@charset "UTF-8";
/*@font-face {
    font-family: "godofwar";
    src: url("GODOFWAR.TTF") format("opentype");
}*/
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
    color: black;
    font-size: 17px;
    text-align: justify;

}
header {
    text-align: center;
    margin: opx;
    padding: 5px;
    background-color: white;
    padding-top: 15px;
    min-height: 100px;
    
}
nav {
    
    border-right: 40px;
   /* box-shadow: 1px 1px 1px red;*/
    text-align: center;
    
}
nav>a {
    
    margin-right: 70px;
    color: rgb(251, 6, 6);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
nav>a:hover {
    background-color: rgb(0, 213, 196);
}
header h1 {
    color: black;
    font-family: godofwar;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 0px;
    font-size: 2.4em;
    
    
    /*margin-bottom: 50px;
    box-shadow: 4px 4px 10px red;*/
    
    
}
section h2 {
    text-align: center;
    background-color: rgba(207, 220, 206, 0.986);
   /* border-radius:0px  10px;*/
    color: black;
    margin: auto;
    padding: 5px;
    font-size: 1.8em;
}
section h3 {
    text-indent: 0px;
    padding: 10px;
    font-size: 1.5em;
   /* background-image: linear-gradient(to right,rgb(207, 225, 211),transparent);*/
}
section {
    
    background-color: white;
    border-radius: 0px 10px;
    color: black;
    margin: 10px;
    /*box-shadow: 1px 1px 1px red;*/
}
section p {
    text-indent: 30px;
    line-height: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin: 15px 0px;
    color: black;

}
footer {
    text-align: left;
    margin: 0px;
    background-color: black;
}
/*div {
    color: white;
    margin: 10px;
    text-align: center;
}
.divh1 {
    color: white;
    background-color: red;
    
    
    height: 30px;
    width: 70px;
    text-align: center;
}*/
footer>div a {
    text-align: justify;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    margin: 0px;
    font-size: 1em;
    margin: auto;
    line-height: 35px;
}
footer>div {
    text-indent: 10px;
}
h1>span {
    background-color: black;
    color: white;
    font-size: 0.9em;
    font-weight: bold;

    
}
video {
    text-align: center;
    box-shadow: 50px;
    border-radius: 2px 2px 2px;
    width: 100%;
}
img {
    width: 100%;
    text-align: center;
}
audio {
    width: 100%;
    background-color: rgb(27, 31, 31);
}